<li class = "list-group-item">
  <strong><%= message.sendable.email + " : "%></strong>
  <span><%= message.body %></span>
  <span class = "d-block text-info text-right"><%= message.created_at.to_formatted_s(:long) %></span>
</li>