<% @page_title = "Home Page" %>

<div class= "m-2">
  <%= link_to "Companies Index", companies_path, class: "btn btn-primary" %>
</div>

<div class= "m-2">
  <%= link_to "Categories Index", categories_path, class: "btn btn-primary" %>
</div>

<div class= "m-2">
  <%= link_to "Statuses Index", statuses_path, class: "btn btn-primary" %>
</div>

<div class= "m-2">
  <%= link_to "Foodstores Index", food_stores_path, class: "btn btn-primary" %>
</div>
